<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="warning" class="ion-title">
      Conversor de Moeda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
    <ion-item class="entrada-de-dados">
      <ion-input type="number" [(ngModel)]="valor" placeholder="Entre com um valor"></ion-input>
    </ion-item>

  <div class="coont-op-converter">

    <ion-item >
      <ion-label>Converter de</ion-label>
      <ion-select   [(ngModel)]="dConv">
        <ion-select-option >Real(BRL)</ion-select-option>
        <ion-select-option >Dollar(USD)</ion-select-option>
        <ion-select-option >Euro(EUR)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item size="80%">
      <ion-label>Para </ion-label>
      <ion-select [(ngModel)]="pConv">
        <ion-select-option >Real(BRL)</ion-select-option>
        <ion-select-option >Dollar(USD)</ion-select-option>
        <ion-select-option >Euro(EUR)</ion-select-option>
      </ion-select>
    </ion-item>
      
  </div>

  <ion-div >
    <ion-icon (click)="handleChange()" name="repeat-outline"></ion-icon>
    <ion-icon (click)="handleConverter()" name="refresh-sharp"></ion-icon>
  </ion-div>
<div class="container-resultado">
<h1>Resultado da conversão</h1>
<section class="div-resultado">
  
  <div class="resultado">
    <p>Conversão de: {{dConv}}</p> 
    <p>Valor a converter: {{" R$ " + entrada.toFixed(2)}}</p> 
  </div>

  <div class="resultado">
    <p>Para: {{pConv}}</p> 
    <p> Resultado da conversão: {{"R$ " + resultado.toFixed(2)}} </p>
  </div>
</section>
<ion-div>
  Data cotação utilizada: <pre>{{dataCotacao}}</pre>
</ion-div>
</div>
</ion-content>
